.box-1 {
  padding: 10px 20px;
  margin: 30px 30px;
  border: 1px solid black;
  height: 300px;
  width: 50%;
  display: inline-block;
  visibility: hidden;
  box-sizing: border-box;
}
.box-2{
  padding: 10px 20px;
  margin: 30px 30px;
  border: 1px solid black;
  display: inline-block;
}

.box-2:hover,
.box-2:active {
  padding: 10px 20px;
  margin: 30px 30px;
  border: 1px solid red;
  display: inline-block;
}